<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
           <h2>{{>header}}</h2>
           
           <h2> hbs {{title}} page content</h2>
           <h2>{{desc}}</h2>

            <form id="form1">
            <input type="text" id="address">
            <button>Search</button>
        </form>
        <div3 style=><p id="location" ></p></div3>  
          <p id="forecast"  style="animation-delay: 60s;"></p>
          <p id="error" ></p>
          
          <script src="js/script.js"></script>
      </body>
</html>